/* Homepage Custom CSS */
.icon {
    max-width: 100px;
    margin: 20px;
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px 0;
}

/* Dashboard Custom CSS */
.chart-container {
    width: 100%;
    margin: auto;
}

#expenses tr > *:nth-child(2),
#expenses tr > *:nth-child(4),
#expenses tr > *:nth-child(5),
#expenses tr > *:nth-child(6),
#income tr > *:nth-child(2),
#income tr > *:nth-child(4),
#income tr > *:nth-child(5),
#income tr > *:nth-child(6) {
    display: none;
}

@media only screen and (min-width: 768px) {
    #expenses tr > *:nth-child(2),
    #expenses tr > *:nth-child(4),
    #expenses tr > *:nth-child(5),
    #expenses tr > *:nth-child(6),
    #income tr > *:nth-child(2),
    #income tr > *:nth-child(4),
    #income tr > *:nth-child(5),
    #income tr > *:nth-child(6) {
        display: table-cell;
    }
}

@media only screen and (min-width: 992px) {
    .chart-container {
        width: 50%;
    }

    .pie-chart-text {
        width: 50%;
    }
}